In [7]:
import pandas as pd

In [8]:
# Utility function to return a "cleaned school" name.
def clean_school_name(s):
    
    arr = s.split()
    
    # If the last word is 'School', drop it.
    if arr[len(arr)-1].lower() == 'school':
        arr.pop()
        
    # Convert all words to lowercase.
    for i in range(0, len(arr)):
        arr[i] = arr[i].lower()
        
    return ' '.join(arr)

In [11]:
# Load the school ratings data.
schools_df = pd.read_csv('mcps_school_ratings.csv')
schools_df.head()

,School,Address,Rating,Type,Enrollment,Students per Teacher,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Burning Tree Elementary,"7900 Beech Tree Road, Bethesda, MD, 20817",10.0,E,473,13.0,NaN,NaN,NaN,NaN
1,Spark M. Matsunaga Elementary School,"13902 Bromfield Road, Germantown, MD, 20874",9.0,E,728,17.0,NaN,NaN,NaN,NaN
2,Bannockburn Elementary,"6520 Dalroy Lane, Bethesda, MD, 20817",9.0,E,440,17.0,NaN,NaN,NaN,NaN
3,Bells Mill Elementary,"8225 Bells Mill Road, Potomac, MD, 20854",9.0,E,619,16.0,NaN,NaN,NaN,NaN
4,Cold Spring Elementary,"9201 Falls Chapel Way, Potomac, MD, 20854",9.0,E,330,16.0,NaN,NaN,NaN,NaN

In [14]:
# Iterate over all schools.
for index, row in schools_df.iterrows():
    
    clean_sn = clean_school_name(row['School'])
    schools_df.loc[index, 'School'] = clean_sn
    
schools_df = schools_df[['School', 'Rating', 'Type']]

schools_df

,School,Address,Rating,Type,Enrollment,Students per Teacher
0,burning tree elementary,"7900 Beech Tree Road, Bethesda, MD, 20817",10.0,E,473,13.0
1,spark m. matsunaga elementary,"13902 Bromfield Road, Germantown, MD, 20874",9.0,E,728,17.0
2,bannockburn elementary,"6520 Dalroy Lane, Bethesda, MD, 20817",9.0,E,440,17.0
3,bells mill elementary,"8225 Bells Mill Road, Potomac, MD, 20854",9.0,E,619,16.0
4,cold spring elementary,"9201 Falls Chapel Way, Potomac, MD, 20854",9.0,E,330,16.0
...,...,...,...,...,...,...
194,watkins mill high,"10301 Apple Ridge Road, Gaithersburg, MD, 20886",4.0,H,1615,14.0
195,northwood high,"919 University Boulevard West, Silver Spring, ...",3.0,H,1732,14.0
196,gaithersburg high,"101 Education Boulevard, Gaithersburg, MD, 20877",3.0,H,2352,13.0
197,john f. kennedy high,"1901 Randolph Road, Silver Spring, MD, 20902",3.0,H,1781,14.0
198,seneca valley high,"19401 Crystal Rock Drive, Germantown, MD, 20874",3.0,H,1181,13.0

In [15]:
schools_df.to_csv('mcps_school_ratings_clean.csv', index=False)

In [6]:
# Load the zipcode demographic data, and only retain a few columns.
demographics_df = pd.read_csv('md_zip_tabulations.csv')
demographics_df = demographics_df[['Census 5-Digit ZCTA Code',
                                   'Percent Non Hispanic White',
                                   'Percent Non Hispanic Black',
                                   'Percent non Hispanic Asian',
                                   'Percent Hispanic']]
demographics_df

,Census 5-Digit ZCTA Code,State FIPS Code,Census Identifier,FIPS Class Code,Feature Class Code,Functional Code,Zip Code (Number),State,Census Land Area (m),Census Water Area (m),...,Percent Over 65,Median Age,Vacant Units,Percent Vacant,Homeowner Rate,Percent Homeowner Without Mortgage,Percent Rent,Percent Population Under 18,ZCTA Report 1,ZCTA Report 2
0,20601,24,2420601,B5,G6350,S,"20,601.00",24,"115,635,266.00","387,684.00",...,8.0,37.3,376,4.3,71.1,11.2,19.9,30.4,http://mdpgis.mdp.state.md.us/Census2010/PDF/0...,http://mdpgis.mdp.state.md.us/census2010/PDF/0...
1,20602,24,2420602,B5,G6350,S,"20,602.00",24,"35,830,723.00","352,762.00",...,7.9,32.6,769,7.9,59.7,9.0,34.4,43.6,http://mdpgis.mdp.state.md.us/Census2010/PDF/0...,http://mdpgis.mdp.state.md.us/census2010/PDF/0...
2,20603,24,2420603,B5,G6350,S,"20,603.00",24,"44,239,637.00","219,356.00",...,4.8,34.5,531,5.1,73.8,4.7,22.6,29.9,http://mdpgis.mdp.state.md.us/Census2010/PDF/0...,http://mdpgis.mdp.state.md.us/census2010/PDF/0...
3,20606,24,2420606,B5,G6350,S,"20,606.00",24,"7,501,011.00","1,248,760.00",...,25.1,49.1,15,6.5,49.7,39.3,18.1,31.2,http://mdpgis.mdp.state.md.us/Census2010/PDF/0...,http://mdpgis.mdp.state.md.us/census2010/PDF/0...
4,20607,24,2420607,B5,G6350,S,"20,607.00",24,"54,357,590.00","448,221.00",...,8.6,40.9,172,4.9,83.1,10.3,7.4,22.1,http://mdpgis.mdp.state.md.us/Census2010/PDF/0...,http://mdpgis.mdp.state.md.us/census2010/PDF/0...

In [ ]:
schools_df.to_csv('md_zip_tabulations_clean.csv', index=False)