In [73]:
import pandas as pd

In [74]:
houses_df = pd.read_csv('house_info_school_assignments_dropna.csv')
houses_df

,zpid,zipcode,city,state,latitude,longitude,price,dateSold,bathrooms,bedrooms,...,isPremierBuilder,isZillowOwned,currency,country,taxAssessedValue,lotAreaValue,lotAreaUnit,elem,middle,high
0,37151520,20854,Potomac,MD,39.043986,-77.256456,800000,1.625640e+12,4.0,5.0,...,False,False,USD,USA,1081300.0,5.10,acres,wayside elementary,herbert hoover middle,winston churchill high
1,246554034,20814,Bethesda,MD,39.022005,-77.107586,800000,1.617610e+12,1.0,2.0,...,False,False,USD,USA,507900.0,0.25,acres,kensington parkwood elementary,tilden middle,walter johnson high
2,37182564,20817,Bethesda,MD,38.974071,-77.131494,800000,1.604560e+12,3.0,4.0,...,False,False,USD,USA,697767.0,9148.00,sqft,bethesda elementary,tilden middle,walt whitman high
3,37096069,20854,Potomac,MD,39.041634,-77.172128,800000,1.620370e+12,3.0,4.0,...,False,False,USD,USA,611000.0,9811.00,sqft,ritchie park elementary,cabin john middle,winston churchill high
4,37286594,20910,Silver Spring,MD,39.003488,-77.038573,800000,1.613980e+12,4.0,3.0,...,False,False,USD,USA,534800.0,6570.00,sqft,rosemary hills elementary,tilden middle,northwood high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13950,37238907,20877,Gaithersburg,MD,39.155382,-77.177459,358500,1.613980e+12,4.0,5.0,...,False,False,USD,USA,259000.0,1650.00,sqft,flower hill elementary,gaithersburg middle,gaithersburg high
13951,37243643,20878,Gaithersburg,MD,39.123152,-77.213852,358888,1.620980e+12,3.0,3.0,...,False,False,USD,USA,283800.0,2160.00,sqft,summit hall elementary,lakelands park middle,gaithersburg high
13952,37108575,20850,Rockville,MD,39.097480,-77.174731,359000,1.615190e+12,3.0,3.0,...,False,False,USD,USA,310000.0,NaN,NaN,college gardens elementary,julius west middle,richard montgomery high
13953,37158211,20878,Gaithersburg,MD,39.113014,-77.242862,359000,1.613980e+12,2.0,3.0,...,False,False,USD,USA,309333.0,1206.00,sqft,dufief elementary,lakelands park middle,quince orchard high
13954,37237732,20878,Gaithersburg,MD,39.132141,-77.235263,359000,1.607330e+12,3.0,3.0,...,False,False,USD,USA,327900.0,2000.00,sqft,diamond elementary,lakelands park middle,quince orchard high

In [75]:
# keep only columns we need for the preliminary machine learning.
# Keep enrichment keys (zipcode and all type of schools)
houses_df = houses_df[
                        [ 'price',
                          'bathrooms',
                          'bedrooms',
                          'livingArea',
                          'homeType',
                          'lotAreaValue',
                          'lotAreaUnit',
                          'zipcode',
                          'elem',
                          'middle',
                          'high'
                        ]
                     ]

houses_df

,price,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,lotAreaUnit,zipcode,elem,middle,high
0,800000,4.0,5.0,3650.0,SINGLE_FAMILY,5.10,acres,20854,wayside elementary,herbert hoover middle,winston churchill high
1,800000,1.0,2.0,1400.0,SINGLE_FAMILY,0.25,acres,20814,kensington parkwood elementary,tilden middle,walter johnson high
2,800000,3.0,4.0,1826.0,SINGLE_FAMILY,9148.00,sqft,20817,bethesda elementary,tilden middle,walt whitman high
3,800000,3.0,4.0,2810.0,SINGLE_FAMILY,9811.00,sqft,20854,ritchie park elementary,cabin john middle,winston churchill high
4,800000,4.0,3.0,2304.0,SINGLE_FAMILY,6570.00,sqft,20910,rosemary hills elementary,tilden middle,northwood high
...,...,...,...,...,...,...,...,...,...,...,...
13950,358500,4.0,5.0,1386.0,TOWNHOUSE,1650.00,sqft,20877,flower hill elementary,gaithersburg middle,gaithersburg high
13951,358888,3.0,3.0,1420.0,TOWNHOUSE,2160.00,sqft,20878,summit hall elementary,lakelands park middle,gaithersburg high
13952,359000,3.0,3.0,1320.0,TOWNHOUSE,NaN,NaN,20850,college gardens elementary,julius west middle,richard montgomery high
13953,359000,2.0,3.0,1188.0,TOWNHOUSE,1206.00,sqft,20878,dufief elementary,lakelands park middle,quince orchard high
13954,359000,3.0,3.0,1660.0,TOWNHOUSE,2000.00,sqft,20878,diamond elementary,lakelands park middle,quince orchard high

In [76]:
# Drop all rows with even a single null value.
houses_df = houses_df.dropna()
houses_df

,price,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,lotAreaUnit,zipcode,elem,middle,high
0,800000,4.0,5.0,3650.0,SINGLE_FAMILY,5.10,acres,20854,wayside elementary,herbert hoover middle,winston churchill high
1,800000,1.0,2.0,1400.0,SINGLE_FAMILY,0.25,acres,20814,kensington parkwood elementary,tilden middle,walter johnson high
2,800000,3.0,4.0,1826.0,SINGLE_FAMILY,9148.00,sqft,20817,bethesda elementary,tilden middle,walt whitman high
3,800000,3.0,4.0,2810.0,SINGLE_FAMILY,9811.00,sqft,20854,ritchie park elementary,cabin john middle,winston churchill high
4,800000,4.0,3.0,2304.0,SINGLE_FAMILY,6570.00,sqft,20910,rosemary hills elementary,tilden middle,northwood high
...,...,...,...,...,...,...,...,...,...,...,...
13949,358000,3.0,3.0,1673.0,TOWNHOUSE,2001.00,sqft,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high
13950,358500,4.0,5.0,1386.0,TOWNHOUSE,1650.00,sqft,20877,flower hill elementary,gaithersburg middle,gaithersburg high
13951,358888,3.0,3.0,1420.0,TOWNHOUSE,2160.00,sqft,20878,summit hall elementary,lakelands park middle,gaithersburg high
13953,359000,2.0,3.0,1188.0,TOWNHOUSE,1206.00,sqft,20878,dufief elementary,lakelands park middle,quince orchard high
13954,359000,3.0,3.0,1660.0,TOWNHOUSE,2000.00,sqft,20878,diamond elementary,lakelands park middle,quince orchard high

In [77]:
# Convert all lot areas to acres.
for index, row in houses_df.iterrows():
    
    if row['lotAreaUnit'] == 'acres':
        val = houses_df.loc[index, 'lotAreaValue'] * 43560
        houses_df.loc[index, 'lotAreaValue'] = val

# Drop the lotAreaUnit column.
houses_df = houses_df.drop(columns=['lotAreaUnit'])

houses_df

/Users/sdrawid/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,price,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,zipcode,elem,middle,high
0,800000,4.0,5.0,3650.0,SINGLE_FAMILY,222156.0,20854,wayside elementary,herbert hoover middle,winston churchill high
1,800000,1.0,2.0,1400.0,SINGLE_FAMILY,10890.0,20814,kensington parkwood elementary,tilden middle,walter johnson high
2,800000,3.0,4.0,1826.0,SINGLE_FAMILY,9148.0,20817,bethesda elementary,tilden middle,walt whitman high
3,800000,3.0,4.0,2810.0,SINGLE_FAMILY,9811.0,20854,ritchie park elementary,cabin john middle,winston churchill high
4,800000,4.0,3.0,2304.0,SINGLE_FAMILY,6570.0,20910,rosemary hills elementary,tilden middle,northwood high
...,...,...,...,...,...,...,...,...,...,...
13949,358000,3.0,3.0,1673.0,TOWNHOUSE,2001.0,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high
13950,358500,4.0,5.0,1386.0,TOWNHOUSE,1650.0,20877,flower hill elementary,gaithersburg middle,gaithersburg high
13951,358888,3.0,3.0,1420.0,TOWNHOUSE,2160.0,20878,summit hall elementary,lakelands park middle,gaithersburg high
13953,359000,2.0,3.0,1188.0,TOWNHOUSE,1206.0,20878,dufief elementary,lakelands park middle,quince orchard high
13954,359000,3.0,3.0,1660.0,TOWNHOUSE,2000.0,20878,diamond elementary,lakelands park middle,quince orchard high

In [78]:
# Drop rows with housetypes apartments, multi-family and lot. There are too few of them.
houses_df.drop(houses_df[houses_df.homeType == 'APARTMENT'].index, inplace=True)
houses_df.drop(houses_df[houses_df.homeType == 'LOT'].index, inplace=True)
houses_df.drop(houses_df[houses_df.homeType == 'MULTI_FAMILY'].index, inplace=True)
houses_df

,price,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,zipcode,elem,middle,high
0,800000,4.0,5.0,3650.0,SINGLE_FAMILY,222156.0,20854,wayside elementary,herbert hoover middle,winston churchill high
1,800000,1.0,2.0,1400.0,SINGLE_FAMILY,10890.0,20814,kensington parkwood elementary,tilden middle,walter johnson high
2,800000,3.0,4.0,1826.0,SINGLE_FAMILY,9148.0,20817,bethesda elementary,tilden middle,walt whitman high
3,800000,3.0,4.0,2810.0,SINGLE_FAMILY,9811.0,20854,ritchie park elementary,cabin john middle,winston churchill high
4,800000,4.0,3.0,2304.0,SINGLE_FAMILY,6570.0,20910,rosemary hills elementary,tilden middle,northwood high
...,...,...,...,...,...,...,...,...,...,...
13949,358000,3.0,3.0,1673.0,TOWNHOUSE,2001.0,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high
13950,358500,4.0,5.0,1386.0,TOWNHOUSE,1650.0,20877,flower hill elementary,gaithersburg middle,gaithersburg high
13951,358888,3.0,3.0,1420.0,TOWNHOUSE,2160.0,20878,summit hall elementary,lakelands park middle,gaithersburg high
13953,359000,2.0,3.0,1188.0,TOWNHOUSE,1206.0,20878,dufief elementary,lakelands park middle,quince orchard high
13954,359000,3.0,3.0,1660.0,TOWNHOUSE,2000.0,20878,diamond elementary,lakelands park middle,quince orchard high

In [79]:
houses_df.to_csv('house_info_school_assignments_dropna_transform.csv', index=False)